<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </ChildContent>
            <ErrorContent>
                <div class="friendly-error">
                    <p>Oops, something went wrong. Please try again.</p>
                </div>
            </ErrorContent>

        </ErrorBoundary>
    </Found>

    <NotFound>
        <p style="color: red;">404 - Page not found</p>
    </NotFound>
</Router>
